body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --light: #F8F8F8;
    --dark: #313131;
    --grey: #888888;
    --primary: #008000;
    --secondary: blue;
    --alert: #FF1E2D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    border: none;
    outline: none;
    background: none;
}

body {
    background-color: var(--light);
}

.App {
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

h1 {
    color: var(--primary);
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}

.title {
    color: blue;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.total {
    color: var(--grey);
    font-size: 28px;
    font-weight: 900;
    background-color: #DFDFDF;
    padding: 5px 25px;
    border-radius: 8px;
}

.form {
    display: block;
    position: relative;
}

.form-inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: 0.4s;
    border-radius: 8px;
}

.form-inner input {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #FFF;
}

.form-inner input[type="text"] {
    border-radius: 8px 0px 0px 8px;
    flex: 1 1 100%;
}

.form-inner input[type="date"] {
    border-radius: 0px;
    min-width: 200px;
}

.form-inner input[type="submit"] {
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary);
    background-size: 200%;
    color: var(--dark);
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
}

.list {
    padding: 5px;
}

.list .item {
    position: relative;
    padding: 10px 15px;
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    transition: 0.4s;
    padding-left: 75px;
}

.list .item .remove-item {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    cursor: pointer;
    display: block;
    color: var(--light);
    font-weight: 600;
    background-color: var(--alert);
    border-radius: 8px 0px 0px 8px;
    transition: 0.2s;
}

.list .item:hover .remove-item {
    width: 50px;
}

.list .item .desc {
    flex: 1 100%;
}

.list .item .price,
.list .item .date {
    width: 35%;
}